/* card */
.post-card {
  width: 23vw;
  min-width: 263px;
  margin: 2vh 1vw;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }

  article {
    padding: 10px 10px 0 10px;
    display: flex;
    min-width: 0;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;

    p {
      padding: 0;
      margin: 0.5em 0;
    }
  }

  .thumb {
    object-fit: cover;
    height: 22vh;
  }

  p {
    flex: 1;
    /* make p grow to fill available space */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
  }

  span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
  }
}

.post-header {
  margin: 0 10px 10px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 0.8rem;

  &>:first-child {
    font-weight: 500;
  }
}

.spacer {
  display: flex;
  flex: 1 1 auto;
}

.im-here-img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
